In [20]:
import urllib.request
import os.path
import pandas as pd

url = "http://reputation.alienvault.com/reputation.data"

try:
    response, headers = urllib.request.urlretrieve(url)
    av = pd.read_csv(response, sep="#")
    av.columns = ["IP", "Reliability", "Risk", "Type", "Country", "Locale", "Coords", "x"]
except:
    print("Error occurred")

In [21]:
av.head()

,IP,Reliability,Risk,Type,Country,Locale,Coords,x
0,121.58.202.202,4,3,Malicious Host,PH,Manila,"14.5916004181,121.014701843",3
1,46.238.228.195,4,2,Malicious Host,PL,Lochowo,"53.1237983704,17.839799881",3
2,46.55.166.197,4,2,Malicious Host,BG,Plovdiv,"42.1500015259,24.75",3
3,221.204.13.22,4,3,Malicious Host,CN,Taiyuan,"37.7268981934,112.470802307",3
4,222.96.190.71,4,3,Malicious Host,KR,Busan,"35.1027984619,129.040298462",3

In [22]:
av.tail()

,IP,Reliability,Risk,Type,Country,Locale,Coords,x
32346,49.204.125.234,4,3,Malicious Host,IN,Hyderabad,"17.3752994537,78.4744033813",3
32347,103.214.233.137,4,2,Malicious Host,IN,NaN,"20.0,77.0",3
32348,104.28.21.78,6,2,Spamming,US,San Francisco,"37.7696990967,-122.393302917",12
32349,114.35.128.23,4,2,Malicious Host,TW,Kaohsiung,"22.6333007812,120.349998474",3
32350,216.245.218.35,6,2,Spamming,US,NaN,"37.7509994507,-97.8219985962",12

In [23]:
av.describe()

        Reliability          Risk
count  32351.000000  32351.000000
mean       4.184291      2.305276
std        1.148849      0.503745
min        1.000000      1.000000
25%        4.000000      2.000000
50%        4.000000      2.000000
75%        4.000000      3.000000
max       10.000000      6.000000

In [40]:

country_ct = pd.value_counts(av['Country'])
print(country_ct[:25].index)
print(country_ct[:25].value_counts)

Index(['CN', 'US', 'IN', 'KR', 'UA', 'RU', 'TW', 'TR', 'VN', 'RO', 'BR', 'FR',
       'AR', 'PL', 'NL', 'GB', 'BG', 'DE', 'JP', 'HK', 'IL', 'EG', 'SE', 'CZ',
       'ES'],
      dtype='object')
<bound method IndexOpsMixin.value_counts of CN    6671
US    4926
IN    2973
KR    2540
UA    1274
RU     969
TW     969
TR     940
VN     743
RO     693
BR     602
FR     540
AR     460
PL     441
NL     431
GB     410
BG     287
DE     273
JP     261
HK     248
IL     210
EG     207
SE     201
CZ     189
ES     186
Name: Country, dtype: int64>

In [44]:
import plotly.plotly as py
import plotly.graph_objs as go

data = [go.Bar(
            x=country_ct[:20].index,
            y=country_ct[:20],
            name='Summary by Country'
    )]

py.iplot(data, filename='avip-country-bar')